<h2> <%= @user.username %>'s Profile Page </h2>

Name: <%= @user.username %><br>
Mood: <%= @user.mood %><br>
Favorite Food: <%= @user.food %><br>
Favorite Music Genre: <%= @user.music %><br>
Job: <%= @user.job %><br>
Hobby: <%= @user.hobby %><br>

<br>

<%= form_tag edit_user_path(@user),method: :get do %>
    <%= submit_tag "Edit Profile" %>
<% end %>


<%= form_tag user_path(@user),method: :delete do %>
    <%= submit_tag "Delete Profile" %>
<% end %>