<h2> <%= @user.username %>'s Profile Page </h2>

Name: <%= @user.username%><br>
<% @user.attributes.each do |key,value|%>
    <% next unless value && (key == 'mood' || key == 'food' || key == 'music'|| key == 'hobby'|| key == 'job') && !value.empty? %>
    <%="#{key.capitalize}: #{value}"%> <br>
<% end %>
<br>

<!-- Mood: <%= @user.mood %><br>
<%# "Favorite Food: #{@user.food}" if !@user.food.empty? %>
Favorite Music Genre: <%= @user.music %><br>
Job: <%= @user.job %><br>
Hobby: <%= @user.hobby %><br>
-->

<% if @logged_in_user.id == @user.id  #show edit/delete - if own server%>
    <%= form_tag edit_user_path(@user),method: :get do %>
        <%= submit_tag "Edit Profile" %>
    <% end %>

    <%= form_tag user_path(@user),method: :delete do %>
        <%= submit_tag "Delete Profile", data: { confirm: 'Are You Sure?' } %>
    <% end %>
<% end%>