<h2> <%= @user.username %>'s Profile Page </h2>

Name: <%= @user.username %><br>
Mood: <%= @user.mood %><br>
Favorite Food: <%= @user.food %><br>
Favorite Music Genre: <%= @user.music %><br>
Job: <%= @user.job %><br>
Hobby: <%= @user.hobby %>
