<h1>SHOW FOR POST</h1>

User:<br>
<%= link_to @post.user.username, user_path(@post.user) %><br>
<%= @post.img_url %>
<%= @post.content %>

<hr>
<% if @logged_in_user == @post.user %>
    <%= form_tag post_path(@post),method: :delete do %>
        <%= submit_tag "DELETE" %>
    <% end %>
    <br>
    <%= form_tag edit_post_path(@post),method: :get do %>
        <%= submit_tag "EDIT" %>
    <% end %>
<% end %>
<br>
<%= form_tag post_path(@post),method: :get do %>
    <%= submit_tag "Comment" %>
<% end %>

<%= form_tag new_like_path(@like),method: :get do %>
    <%= submit_tag "Like" %>
<% end %>

Likes: <%= @post.likes.count %> Comments: <%= @post.comments.count %><br>
----------------------------------------------<br>
<% @post.comments.each do |comment| %>
    <%= comment.user.username %> said:  
    <%= comment.content %><br>
    <% end %>

<%= form_for(@comment) do |f| %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.hidden_field :user_id, :value => @logged_in_user.id %>
    <%= f.text_field :content %>
    <%= f.submit "Comment" %>
    <% end %>