<% if @logged_in_user %>
<p><strong>Welcome</strong>, <%= User.find(session[:user_id]).username.capitalize%>!</p>
<hr>
<%= render "posts/all" %>

<% else %>

    <div class="welcome-container bg-success pd-">
  <div class="row ">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

<br><br>
<% end %>


<!--
<%= form_tag login_path,method: :get do %>
    <%= submit_tag "Log-In" %>
<% end %>
<br>
<%= form_tag '/logout', method: :post do %>
    <%= submit_tag "Log-out" %>
<% end %>

<%= form_tag sign_up_path, method: :get do %>
    <%= submit_tag "Sign-Up" %>
<% end %>
-->