This show only be displayed if no login & and option to login or signup

<br><br>

<%= form_tag login_path,method: :get do %>
    <%= submit_tag "Log-In" %>
<% end %>
<br>
<%= form_tag '/logout', method: :post do %>
    <%= submit_tag "Log-out" %>
<% end %>

<%= form_tag sign_up_path, method: :get do %>
    <%= submit_tag "Sign-Up" %>
<% end %>

<% if session[:user_id] %>
<p><strong>Welcome</strong>, <%= User.find(session[:user_id]).username.capitalize%>!</p>
<% end %>