<!DOCTYPE html>
<html>
  <head>
    <title>SocialMediaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Flacebook", "/" %>
        <% if @logged_in_user%>
          <ul>
            <li><%= link_to "Logout", logout_path, method: :post %></li>
          </ul>
        <% else %>
          <ul>
          <li><%= link_to "Log-In", login_path %></li>
          <li><%= link_to "Sign-Up", sign_up_path %></li>
          </ul>
        <% end %>
      
    </nav>
    <%= yield %>
  </body>
</html>
