<!DOCTYPE html>
<html>
  <head>
    <title>SocialMediaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Flacebook", "/#" %>
      <ul>
        <li><%= link_to "Link 1", "/#" %></li>
        <li><%= link_to "Link 2", "/#" %></li>
        <li><%= link_to "Link 3", "/#"%></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
